body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #00ff00, #028af8, #00ff00);
    overflow: hidden;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#game-container {
    position: relative;
    width: 1024px;
    height: 768px;
    background: #000; /* Fallback color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#background-left,
#background-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#background-left {
    left: 0;
    background: url('./assets/rightbg.jpg') center center / cover no-repeat;
}

#background-right {
    right: 0;
    background: url('path-to-right-background-image.jpg') center center / cover no-repeat;
}